<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2013-2018</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Agriculture (B.Agric.)
                            </div>
                                <h4 class="category">University of Ilorin</h4>
                                <ul>
                                    <li> University of Ilorin,
                                        Ilorin, Kwara State , Nigeria (2018)
                                    </li>
                                        <li>Completed B.A in Agricultural Economics</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            
                 
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2020-2021</p>
                        <div class="h5">Indian Institute Hardware Technology, Lagos | 2020 – 2021</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">IIHT(Web Development)/div>
                                <h4 class="category"></h4>
                                <ul>
                                        <li>Completed <b>Web Dev</b> with <b>70% </b>aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2008-2009</p>
                        <div class="h5">Secondary School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Secondary School(SSCE)</div>
                                <h4 class="category">Ajoke High School</h4>
                                <ul>
                                        <li>Completed  AHSS with <b>65.6%</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               
